<div>
    <h1>ロゴ</h1>
</div>
<div>
    <h1>マイページ</h1>
</div>
<div>
    <h1>ユーザー情報</h1>
</div>
<div>
    <h1>自分の投稿のみ表示するチェックボックス</h1>
</div>
<div>
    <h1>マジ投稿一覧</h1>
    <% @maji_posts.each.do |maji_post| %>
        <%= maji_post %>
    <% end %>
</div>
<div>
    <h1>雑談投稿一覧</h1>
    <% @chat_posts.each.do |chat_post| %>
        <%= chat_post %>
    <% end %>
</div>
<div>
    <h1>解決済み一覧ボタン</h1>
</div>