<div id="container">
  <div id="page">
    <div id="header">
      <%= image_tag('logo.jpg') %>
      <ul class="guide">
        <li><a href="#">マイページ</a></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
      </ul>
    </div>

    <div id="content">
      <div class="form-horizontal" role="form">
        <%= form_tag('/posts', method: :create, id: "inputSuccess1") do %>
            <div class="form-group">
              <div class="col-sm-10">
                <%= text_field :page, :name, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag "聞きたい！（255文字以内）", :class => "btn btn-success" %>
              <%= submit_tag("つぶやく（140文字以内）", :class => "btn btn-warning") %>
            </div>
        <% end %>
      </div>

      <!-- ★左のサイドバー(-->
      <div id="nav">

        <div class="section subMenu">

          <h2>お尋ね</h2>

          <ul class="nl">
            <li><a href="#">人気の未解決投稿</a></li>
            <li><a href="#">解決済み投稿</a></li>
          </ul>

          <h2>ランキング</h2>

          <ul class="nl">
            <li><a href="#">私も知りたい！数</a></li>
            <li><a href="#">――通算ランキング</a></li>
            <li><a href="#">――月間ランキング</a></li>
            <li><a href="#">――週間ランキング</a></li>
            <li><a href="#">いいね！数</a></li>
            <li><a href="#">――通算ランキング</a></li>
            <li><a href="#">――月間ランキング</a></li>
            <li><a href="#">――週間ランキング</a></li>
          </ul>

        </div>

        <!-- 左のサイドバー終了 -->
      </div>
      <div id="timeline">
        <dl>
          <div class="bg-primary">
            <dt class="stl">
            <div class="maji">
              お手すきの方にお尋ねしたいのですが…<br>
            </div>
            </dt>
          </div>
          <% @maji_post_all.each do |maji_post| %>
              <dd>
                <p><%= maji_post["maji_content"] %></p><br><br>
                <%= maji_post["update_datetime"].strftime('%Y-%m-%d %H:%M:%S') %><br>
                <%= link_to "俺も知りたい！: #{Oreshiri.where(maji_content_id: maji_post['id']).count}", { :controller => :oreshiris, :action => :create, params: { :id => maji_post["id"], type: 'maji' }, :method => :post }, :class => "btn btn-default" %><br>
                <%= link_to "コメント: #{Reply.where(maji_post_id: maji_post["id"]).count}", "/posts/#{maji_post.id}/show", :class => "btn btn-default" %><br>
                <%= link_to "削除", { :controller => :posts, :action => :destroy, params: { :id => maji_post["id"], type: 'maji' }, :method => :post }, :class => "btn btn-default" %>
                <br>
              </dd>
          <% end %>
        </dl>

        <dl>
          <dt class="stl">
          <div class="chat">
            NPのちょっとしたニュース<br>
          </div>
          </dt>
          <% @chat_post_all.each do |chat_post| %>
              <dd>
                <p><%= chat_post["chat_content"] %></p><br><br>
                <%= chat_post["update_datetime"].strftime('%Y-%m-%d %H:%M:%S') %><br>
                <%= link_to "削除", { :controller => :posts, :action => :destroy, params: { :id => chat_post["id"], type: 'chat' } }, :class => "btn btn-default" %>
                <br>
              </dd>
          <% end %>
        </dl>
      </div>

    </div>
  </div>
</div>
