もともとの投稿内容：<%= @maji_post.maji_content %></br>
<p>コメント</p>
<% @replies.each do |reply| %>
    <%= reply.reply_content %>
<% end %>

<%= form_tag("/replies/#{@maji_post.id}/create") do %>
      <div class="form">
        <div class="form-body">
          <input type="text" name="reply_content" placeholder="コメント内容">
          <input type="submit" value="コメント" >
        </div>
      </div>
<% end %>


