/* --- タイプ3 レイアウト --- */

/* --- 全体の背景・テキスト --- */

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  /* 全体の背景色 */
  color: #000000;
  /* 全体の文字色 */
  font-size: 80%;
  /* 全体の文字サイズ */
}

#timeline dd {
  width: 90%;
  color: #5d627b;
  border-top: solid 5px #5d627b;
	float:left;
	display:inline;
  background: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

/* --- 全体のリンクテキスト --- */

a {
  &:link {
    color: #0000ff;
  }
  &:visited {
    color: #000090;
  }
  &:hover {
    color: #ff8000;
  }
  &:active {
    color: #ff0000;
  }
}

/* --- コンテナ --- */

#container {
  width: 980px;
  /* コンテナの幅 */
  margin: 0 auto;
  /* センタリング */
  background-color: #ffffff;
  /* コンテナの背景色 */
  border-left: 1px #c0c0c0 solid;
  /* コンテナの左境界線 */
  border-right: 1px #c0c0c0 solid;
  /* コンテナの右境界線 */
}

/* --- ページ --- */

#page {
  width: 950px;
  /* ページの幅 */
  margin: 0 auto;
  /* センタリング */
}

/* --- ▼ヘッダ内の設定開始 --- */

/* --- ヘッダ --- */

#header {
  position: relative;
  /* 相対配置（ガイドメニューのために設定） */
  width: 100%;
  /* IE 6のために幅の指定が必要 */
  margin: 0 0 10px;
  /* ヘッダのマージン（上、左右、下） */
  padding: 10px 0 0;
  /* ヘッダのパディング（上、左右、下） */
  h1.siteTitle, p.siteTitle {
    margin: 0 0 3px;
    /* サイトタイトルのマージン（上、左右、下） */
    font-size: 200%;
    /* サイトタイトルの文字サイズ */
  }
  h1.siteTitle a {
    text-decoration: none;
    /* テキストの下線（なし） */
    color: #000000;
    /* 文字色 */
  }
  p {
    &.siteTitle a {
      text-decoration: none;
      /* テキストの下線（なし） */
      color: #000000;
      /* 文字色 */
    }
    &.catch {
      margin: 0 0 10px;
      /* キャッチフレーズのマージン（上、左右、下） */
      strong {
        font-weight: normal;
        /* 文字の太さ（ノーマル） */
      }
    }
  }
  ul.guide {
    position: absolute;
    /* 絶対配置 */
    top: 25px;
    /* 上からの距離 */
    right: 10px;
    /* 右からの距離 */
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline;
      padding: 0 4px 0 8px;
      /* 項目のパディング（上右下左） */
      background: url(../image/menu_line.gif) no-repeat left;
      /* 項目の背景（区切り線） */
      &.first {
        background: none;
        /* 区切り線なし */
      }
    }
  }
  div.opening {
    margin-bottom: 2px;
    /* オープニングエリアの下マージン */
    h2 {
      margin: 0;
    }
  }
  ul {
    &.nl {
      width: 100%;
      /* IE 6のために幅の指定が必要 */
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;
      li {
        width: 158px;
        /* 項目の幅 */
        float: left;
        line-height: 100%;
        &.first, &.last {
          width: 159px;
          /* 項目の幅（上書き） */
        }
        a {
          display: block;
          position: relative;
          /* IE6用 */
          padding: 10px 2px;
          /* リンクエリアのパディング（上下、左右） */
          border: 1px #cccccc;
          /* リンクエリアの境界線（太さ、色） */
          border-style: solid solid solid none;
          /* リンクエリアの境界線スタイル（上右下左） */
          text-decoration: none;
          /* テキストの下線（なし） */
        }
        &.first a {
          border-left: 1px #cccccc solid;
          /* リンクエリアの左境界線 */
        }
        a:hover {
          background-color: #f0ffff;
          /* ポイント時の背景色 */
          text-decoration: underline;
          /* テキストの下線（あり） */
        }
      }
    }
    &.spotlight {
      margin: 10px 0 0;
      /* 注目情報のマージン（上、左右、下） */
      padding: 0;
      list-style-type: none;
      text-align: center;
      li {
        display: inline;
        padding: 0 25px 0 11px;
        /* 項目のパディング（上右下左） */
        background: url(../image/menu_triangle2.gif) no-repeat 0 0.2em;
        /* 項目の背景（マーカー） */
      }
    }
  }
  ol.topicPath {
    margin: 0;
    padding: 7px 2px;
    /* トピックパスのパディング（上下、左右） */
    border-bottom: 1px #c0c0c0 solid;
    /* トピックパスの下境界線 */
    list-style-type: none;
    li {
      display: inline;
      a {
        padding-right: 12px;
        /* リンクエリアの右パディング */
        background: url(../image/topic_path.gif) no-repeat right;
        /* リンクエリアの背景（区切り記号） */
      }
    }
  }
  hr.none {
    display: none;
    /* 表示形式（なし） */
  }
}

/* --- サイトタイトル --- */

/* サイトタイトル内のリンク */

/* --- キャッチフレーズ --- */

/* --- ガイドメニュー --- */

/* メニュー項目 */

/* 最初の項目 */

/* --- オープニングエリア（トップページ） --- */

/* オープニングエリア内の見出し */

/* --- ヘッダメニュー --- */

/* メニュー項目 */

/* 最初の項目と最後の項目 */

/* リンクエリア */

/* 最初のリンクエリア */

/* ポイント時の設定 */

/* --- 注目情報（トップページ） --- */

/* リスト項目 */

/* --- トピックパス（下層ページ） --- */

/* リスト項目 */

/* リンクエリア */

/* --- 罫線 --- */

/* --- ▲ヘッダ内の設定終了 --- */

/* --- ▼コンテンツ内の設定開始 --- */

/* --- コンテンツ（3カラム用） --- */

#content {
  float: left;
  width: 900px;
  /* コンテンツの幅 */
  margin-bottom: 10px;
  /* コンテンツの下マージン */
}

/* タイムライン */

#timeline {
  width: 70%;
  float: left;
  h2 {
    width: 90%;
    margin: 0 10px;
    padding: 5px 10px;
    color: #fff;
    background: #336699;
    font-size: 95%;
    line-height: 1em;
  }
  dl {
    width: 45%;
    margin: 10px;
    padding-bottom: 10px;
    border: 1px solid #000;
    float: left;
    display: inline;
  }
  dt {
    margin: 0 15px;
    font-size: 80%;
    border-bottom: 1px dotted #ccc;
    text-align: center;
    line-height: 1em;
    &.stl {
      margin: 0;
      color: #fff;
      border: none;
      line-height: 1.32em;
        .maji {
          padding: 5px 10px;
          background: #5CB85C url(img/bar.gif) repeat-x;
        }
        .chat {
          padding: 5px 10px;
          background: #F0AD4E url(img/bar.gif) repeat-x;
        }
    }
  }
  dd {
    margin: 0 15px;
    padding: 5px 0;
    font-size: 80%;
    border-bottom: 1px dotted #ccc;
    line-height: 1.32em;
    &.image {
      text-align: center;
    }
  }
  p {
    margin: 10px 10px 0px 10px;
    font-size: 18px;
    line-height: 1.2em;
    clear: both;
  }
}

/* --- ▼サイドバー(A)内の設定開始 --- */
/* このサンプルでは左サイドバー（3カラム用） */

/* --- サイドバー(A) --- */

#nav {
  float: left;
  width: 30%;
  /* サイドバー(A)の幅 */
  div {
    &.section {
      margin-bottom: 10px;
      /* セクションの下マージン */
      h2 {
        margin: 0 0 0.7em;
        /* 見出しのマージン（上、左右、下） */
        padding: 5px 8px;
        /* 見出しのパディング（上下、左右） */
        font-size: 120%;
        /* 見出しの文字サイズ */
      }
      p {
        margin: 0 10px 0.7em;
        /* 段落のマージン（上、左右、下） */
        line-height: 130%;
        /* 行の高さ */
      }
    }
    &.emphasis {
      border: 1px #92c2dc solid;
      /* セクションの境界線 */
      h2 {
        background-color: #a7dcfc;
        /* 見出しの背景色 */
      }
    }
    &.strong {
      border: 1px #f4c24d solid;
      /* セクションの境界線 */
      h2 {
        background-color: #ffce68;
        /* 見出しの背景色 */
      }
    }
    &.subMenu {
      h2 {
        margin: 0;
        /* 見出しのマージン（上書き） */
        background-color: #a7dcfc;
        /* 見出しの背景色 */
        border: 1px #92c2dc solid;
        /* 見出しの境界線 */
      }
      ul.nl {
        margin: 0 0 3px;
        /* メニューエリアのマージン（上、左右、下） */
        padding: 0;
        background-color: #f9f9f9;
        /* メニューエリアの背景色 */
        border-left: 1px #c0c0c0 solid;
        /* メニューエリアの左境界線 */
        border-right: 1px #c0c0c0 solid;
        /* メニューエリアの右境界線 */
        list-style-type: none;
        li {
          border-bottom: 1px #c0c0c0 solid;
          /* 項目の下境界線 */
          a {
            display: block;
            position: relative;
            /* IE6用 */
            padding: 9px 10px;
            /* リンクエリアのパディング（上下、左右） */
            text-decoration: none;
            /* テキストの下線（なし） */
            &:hover {
              background-color: #f0ffff;
              /* ポイント時の背景色 */
              text-decoration: underline;
              /* テキストの下線（あり） */
            }
          }
        }
      }
    }
  }
}

/* --- セクション（共通設定） --- */

/* 見出し */

/* 段落 */

/* --- 強調セクション1（水色） --- */

/* 見出し */

/* --- 強調セクション2（オレンジ） --- */

/* 見出し */

/* --- サブメニュー --- */
/* サブメニュー内の見出し */

/* メニューエリア */

/* メニュー項目 */

/* リンクエリア */

/* ポイント時の設定 */

/* --- ▲サイドバー(A)内の設定終了 --- */

/* --- 罫線（3カラム用） --- */

#content hr.clear {
  clear: right;
  /* 右フロートのクリア */
  width: 100%;
  margin: 0;
  visibility: hidden;
  /* 非表示 */
}

/* --- ▲コンテンツ内の設定終了 --- */

/* --- ▼その他の設定開始 --- */

/* --- clearfix --- */

.clearFix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  min-height: 1px;
}

/* --- ▲その他の設定終了 --- */

body {
  margin: 0;
}

img {
  border: 0;
}

ul {
  list-style: none;
}

#container {
  width: 800px;
  margin: 0 auto;
  border: solid #ccc;
  border-width: 0 1px 0 1px;
}

/* ヘッダ */

#header {
  width: 800px;
  min-height: 47px;
  height: auto !important;
  height: 47px;
  background: #eee;
  h1 {
    margin: 0;
    padding: 10px 10px 15px;
    font-size: 120%;
    float: left;
    line-height: 1em;
  }
  ul {
    margin: 0;
    padding: 8px 10px 3px 10px;
    font-size: 70%;
    text-align: right;
  }
  li {
    margin: 0 0 5px 0;
    line-height: 1.32em;
  }
  div {
    min-height: 17px;
    height: auto !important;
    height: 17px;
    padding: 8px;
    color: #000;
    background: #fff;
    font-size: 80%;
    text-align: center;
    line-height: 1.32em;
    clear: both;
  }
  a {
    color: #3366cc;
    text-decoration: none;
    &:hover {
      color: #cc0000;
    }
  }
}

